h2{
	padding-top: 20px;
}

.top-title {
	width: 100%;
	height: 200px;
  position: relative;
  background-color: #0359b7;
  display: inline-block;
	position: relative;
}

.top-photo {
  width: 100%;
	height: 200px;
  object-fit: cover;
  margin: 0;
  padding: 0;
  opacity: 0.6;
  display: block;
}

.top-title h1 {
  position: absolute;
  color: white;
  top: 67%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px 4px #000000;
}

.top-title p {
  position: absolute;
  color: white;
  top: 75%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px 4px #000000;
}
.first-title h2 {
  text-align: center;
}

.subtitle {
  width: 100%;
  border-bottom: solid 1px rgb(71, 70, 69);
  margin: 20px 0;
}

.phone-number {
  width: 140px;
  padding: 3px 10px;
  background-color: #0359b7;
  background-color: rgba(3, 89, 183, 0.2);
  margin: 10px 0;
}

.phone-link {
	color: #474645;
}

.phone-link:hover {
	color: #c5c1c1;
}


#number {
color: #474645 !important;
}


.box-skyblue {
  max-width: 100%;
  padding: 4px 10px;
  margin-top: 10px;
  background-color: #0359b7;
  background-color: rgba(3, 89, 183, 0.2);
}

.box-skyblue h3 {
  padding: 7px;
}

.left-bar {
  border-left: 3px solid #0359b7;
  padding-left: 10px;
  margin-top: 30px;
}

.left-bar h3 {
  padding: 0;
}

.blue-line {
  background-color: #0359b7;
	margin-top: 50px;
}

.blue-line h3 {
  color: white;
  padding: 7px 0 7px 10px;
  margin-top: 20px;
}

.credit-img {
  display: flex;
  justify-content: center;
  padding: 20px;
}

#examination {
	padding-top: 40px;
}

@media screen and (min-width: 720px) and (max-width: 1024px) {

  .top-title {
    height: 200px;
		width: 100%;
  }

  .top-photo {
		width: 100%;
    height: 200px;
  }
}

@media screen and (min-width: 1025px) {
	
	h2{
		padding-top: 40px;
	}

  h3 {
    padding: 10px 0;
  }

  .top-title {
    height: 300px;
		width: 100%;
  }

  .top-photo {
		width: 100%;
    height: 300px;
  }

  .top-title h1 {
    top: 60%;
  }

  .top-title p {
    top: 70%;
    left: 50%;
  }

  .phone-number {
    width: 240px;
    padding: 8px 10px;
  }

  .box-skyblue {
    width: 100%;
		height: auto;
    padding: 8px 10px;
    text-align: center;
  }

  .left-bar {
    margin-top: 50px;
  }

  .blue-line h3 {
    padding-left: 10px;
    margin: 20px 0;
  }

	.Inquiry-form{
		display: flex;
		align-items: center;
	}

	.reservation-flex{
		display: flex;
		gap: 40px;
	}

	#noreservation{
		width: 460px;
	}

	footer {
    background-color: #014187;
    color: white;
		margin-top: 50px;
  }

	#examination {
		padding-top: 80px;
	}
}
