@charset "utf-8";

body {
  color: #474645;
  margin: 0;
  padding: 0;
  width: 100%;
}

.detail {
  background-color: #0359b7;
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.container-detail {
  width: 100%;
  max-width: 100%;
}

.business-hour,
.access {
  flex: 1;
  margin: 0;
}

.gmap-iframe {
  aspect-ratio: 10 / 7;
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.logo-top {
	max-width: 100%;
  position: relative;
  background-color: #0359b7;
  display: inline-block;
  height: auto;
	position: relative;
}

.logo-top h1 {
  display: none;
  position: absolute;
  top: 63%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 100%;
  width: 100%;
  padding-left: 20%;
}

.top-photo {
  max-width: 100%;
	height: auto;
  object-fit: cover;
  margin: 0;
  padding: 0;
  opacity: 0.6;
  display: block;
}

.box-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1px;
}

.boxed-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: #0359b7;
  position: relative;
  flex-direction: column;
  color: white;
  text-align: center;
  box-sizing: border-box;
  height: 170px;
}

.img-icon {
  max-width: 35%;
  height: auto;
}
.box-menu :hover {
  background-color: #023064;
}

.box-menu a {
  color: white;
  text-decoration: none;
}

.news h2 {
  text-align: center;
}

.greeting {
  text-align: center;
	padding: 30px 0 10px 0;
}
.doctor-greeting {
  text-align: center;
}

.hide-on-mobile {
  display: none;
}

.map-image {
  padding-top: 10px;
}

p.box-title {
  color: white;
  font-size: 100%;
}

section.infomation-box {
  padding: 0;
  margin: 0;
}

.news-top {
  display: none;
}

.news-date {
  padding-right: 20px;
}

.news-flex p {
  font-size: 100%;
}

.news-flex {
  display: flex;
  display: inline-flex;
  align-items: center;
}

.news {
  padding-top: 30px;
}

@media screen and (min-width: 1025px) {
  .detail {
    justify-content: space-between;
  }

  .container-detail {
    display: flex;
  }

  .business-hour,
  .access {
    padding: 20px;
    padding: 0;
  }

  .access {
    margin: 0 0 70px 80px;
  }

  .logo-top {
    height: 1080px !important;
    margin: 0;
    padding: 0;
  }

  .logo-top h1 {
    top: 55%;
    left: 50%;
    font-size: 320%;
    padding-left: 50%;
  }

  .top-photo {
		max-width: 100%;
    height: 1080px !important;
  }

  .box-menu {
    display: flex;
  }

  .boxed-links {
    height: 400px;
  }

  .box-menu :hover {
    background-color: #023064;
  }



  .box-menu {
    color: white;
    display: flex;
  }

  .greeting {
    padding: 80px 20px;
  }

  .doctor-greeting {
    display: flex;
  }

  .message {
    padding-left: 60px;
    text-align: left !important;
  }

  .message-title {
    padding-bottom: 15px;
    margin: 0 0 10px 0;
  }

  .img-icon {
    max-width: 100%;
  }

  .news h2 {
    padding: 50px;
  }
  .news {
    text-align: center;
    padding: 0px;
  }
}
