a {
  color: #474645;
}

a.page-link {
	padding: 11px;
}

li.page-link{
	margin: 20px 0;
}

.page-item{
	margin: 20px 0;
}

li.page-link.active {
	border: solid 2.5px #023064;
	padding: 5px 7px;
	margin-top: 13px;
}


.list-item {
  justify-content: space-between;
  display: flex;
  padding: 15px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  align-items: center;
}


.list-item p {
  font-size: 100%;
}

.button-img .button-icon {
  max-width: none;
  height: 15px;
	padding-left: 10px;
}

.mt-4 {
  text-align: center;
  padding: 20px 0;
}

.pagination {
  display: flex;
  justify-content: center;
}

.news-date {
  padding-right: 10px;
}

.center-item {
  margin-right: auto;
}

@media screen and (min-width: 700px) and (max-width: 1024px) {

	.list-item p{
		font-size: 116%;
	}

	a.page-link {
		padding: 15px;
		font-size: 82%;
	}

	li.page-link{
		margin: 20px 0;
	}

	.page-item{
		margin: 20px 0;
	}

	li.page-link.active {
		border: solid 2.5px #023064;
		padding: 10px 10px;
		margin-top: 8px;
	}
}

@media screen and (min-width: 1025px) {
	a.page-link {
		padding: 20px;
		font-size: 100%;
	}

	li.page-link{
		margin-top: 50px;
	}

	.page-item{
		margin-top: 50px;
	}

	li.page-link.active{
		border: solid 2.5px #023064;
		padding: 20px;
		margin: 27px 0;
	}

  .list-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }

  .button-img .button-icon {
    max-width: 100%;
    height: 20px;
  }

  .news-date {
    padding-right: 20px;
  }

  .news-flex {
    display: flex;
    display: inline-flex;
    align-items: center;
  }

  .news-title {
    padding-bottom: 10px;
  }

}
