a {
  color: #474645;
}

.page-item {
  padding-top: 15px;
}

.list-item {
  justify-content: space-between;
  display: flex;
  padding: 15px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  align-items: center;
}

.list-item p {
  font-size: 100%;
}

.button-img .button-icon {
  max-width: none;
  height: 15px;
}

.mt-4 {
  text-align: center;
  padding: 20px 0;
}

.pagination {
  display: flex;
  justify-content: center;
}

.news-date {
  padding-right: 10px;
}

.center-item {
  margin-right: auto;
}

@media screen and (min-width: 1025px) {
  .page-item {
    padding-top: 40px;
  }

  .list-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }

  .button-img .button-icon {
    max-width: 100%;
    height: 20px;
  }

  .news-date {
    padding-right: 20px;
  }

  .news-flex {
    display: flex;
    display: inline-flex;
    align-items: center;
  }

  .news-title {
    padding-bottom: 10px;
  }
}
