.subject-section {
  padding: 20px 0;
}

.subtitle {
  width: 100%;
  border-bottom: solid 1px rgb(71, 70, 69);
  margin: 20px 0;
}

.btn {
  text-align: right;
}

.more-subbutton {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 5px 0;
}

.circle-subtitle {
  position: relative;
  display: inline-block;
}

.circle-subtitle h3 {
  display: inline-block;
}

.circle {
  width: 30px;
  height: 30px;
  background-color: #0359b7;
  background-color: rgba(3, 89, 183, 0.2);
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: -10px;
}

.title-padding {
  padding-top: 50px;
}

@media screen and (min-width: 1025px) {
  .more-subbutton {
    text-align: right;
  }

  .circle {
    width: 50px;
    height: 50px;
    top: 3px;
    left: -20px;
  }

  .title-padding {
    padding-top: 60px;
  }
}
